apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: helm-controller
  namespace: flux-system
spec:
  interval: 1m
  path: "../infrastructure/helm-controller"  # relativ zu flux-system
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
