apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: home-assistant
  namespace: flux-system
spec:
  interval: 1m
  path: "clusters/schuk/apps/home-assistant"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
