apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: n8n
  namespace: flux-system
spec:
  interval: 1m
  path: "clusters/schuk/apps/n8n"
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
