apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
- rancher-kustomization.yaml
- kubernetes-dashboard-kustomization.yaml
- cert-manager-kustomization.yaml
